<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>xác thực</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link rel="stylesheet" href="/stylesheets/fortawesome/css/all.min.css">
    <link rel="stylesheet" href="/stylesheets/grid.css">
    <link rel="stylesheet" href="/stylesheets/responsive.css">
    <link rel="stylesheet" href="/stylesheets/base.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div class="app">
        <header class="header" style="height: 86px;">
            <!-- header with search -->
        <div class="header-with-search">
          <div class="header__logo hide-on-mobile-tablet">
            <a href="/">
              <img src="/images/logo.PNG" alt="ảnh logo" class="header__logo-img">
            </a>
          </div>
          <div class="status">
              <div class="status-node">
                  <div class="status-text">Đăng nhập</div>
                  <div class="status-bar">
                      <div class="status-fill"></div>
                  </div>
                  <div class="status-circle">1</div>
              </div>
              <div class="status-node">
                  <div class="status-text">Địa chỉ giao hàng</div>
                  <div class="status-bar">
                      <div class="status-fill"></div>
                  </div>
                  <div class="status-circle">2</div>
              </div>
              <div class="status-node">
                <div class="status-text">Thanh toán & Đặt mua</div>
                <div class="status-circle">3</div>
               </div>
           </div>
           <div class="hotline">
            <div class="hotline-call">
                <i class="hotline-icon fas fa-phone-alt"></i>
            </div>
            <div class="hotline-text">0855032080</div>
           </div>
          
        </div>
        </header>  
        <div class="app__container">
            <div class="grid wide">
                <div class="row no-gutters">
                    <div class="col l-12 m-12 c-12">
                        <div class="infor-address">
                            <div class="border-address"></div>
                            <div class="infor-address-main">
                                <div class="infor-address-text">Địa chỉ nhận hàng</div>
                                <div class="infor-address-content">
                                    <div class="infor-address-row">
                                        <div class="infor-address__user-detail"><%= diachi.hoten%> (+84) <%= diachi.sdt %></div>
                                        <div class="infor-address-summary"><%= diachi.diachi %>, <%= diachi.xa %>, <%= diachi.huyen %>, <%= diachi.city %></div>
                                    </div>
                                    <div class="infor-address-change">Thay đổi</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid wide">
                <div class="row no-gutters">
                    <div class="col l-12 m-12 c-12">
                        <div class="product-order">
                            <div class="product-order-title">Sản phẩm</div>
                            <div class="product-order-detail">
                                <ul class="product-order-list">
                                    <% sanphampay.forEach(function(sanpham, index){ %>
                                    
                                    <li class="product-order-one">
                                        <img src="<%= sanpham.bigImage %>" alt="ảnh" class="product-order-img">
                                        <div class="product-order-content">
                                            <div class="product-order-name"><%= soluong[index] %> x <%= sanpham.tenSanPham %></div>
                                            <div class="product-order-price"><%= (Number(sanpham.priceCurrent.split('.').join('')) * Number(soluong[index])).toLocaleString('vi') %>đ</div>
                                        </div>
                                    </li>
                                    <% }); %>
                                </ul>
                                <div class="product-order-totol">
                                    <div class="product-order-totol-text">Tổng số tiền (<%= sanphampay.length %> sản phẩm):</div>
                                    <div class="product-order-totol-price"><%= tongtien %>đ</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid wide">
                <div class="row no-gutters">
                    <div class="col l-12 m-12 c-12">
                        <div class="method-pay">
                            <div class="method-pay-text">Phương thức thanh toán</div>
                            <button class="method-pay-value">Thanh toán khi nhận hàng</button>
                        </div>
                        <div class="pay-end">
                            <button class="pay-end-button">Đặt hàng</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid wide" style="display: none;">
                <div class="row no-gutters">
                    <div class="col l-12 m-12 c-12">
                        <div class="pay-done">
                            <div class="status-cart">
                                <div class="status-cart-title">Trạng thái đơn hàng của bạn</div>
                            </div>
                            <div class="status-cart-main">
                                <i class="status-cart-icon fas fa-shipping-fast"></i>
                                <div class="status-cart-text">Đã đặt hàng, sản phẩm sẽ được giao đến sớm nhất cho bạn</div>
                                <a href="/" class="status-cart-home">Tiếp tục mua hàng</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        <% include footer %> 
    </div>
    <script src="/javascripts/thanhtoan3.js"></script>
    
</body>
</html>